/* ================= SPLASH ================= */

.splash {
    position: fixed;
    inset: 0;

    background: #f4f1e2;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;

    overflow: hidden;
}


/* ================= CONTENT ================= */

.splash-content {
    position: relative;

    text-align: center;

    width: fit-content;

    padding: 0;
}


/* ================= WELCOME ================= */

.splash h1 {
    font-family: "Italianno", cursive;

    font-size: clamp(52px, 5vw, 72px);

    color: #533229;

    margin: 0 0 10px;

    font-style: italic;

    line-height: 1;
}


/* ================= TO MY ================= */

.splash p {
    font-family: "Italianno", cursive;

    font-size: clamp(36px, 3.5vw, 50px);

    color: #9a6b53;

    margin: 0 0 8px;

    letter-spacing: 1px;

    line-height: 1;
}


/* ================= PORTFOLIO ================= */

.splash h2 {
    font-family: "Italianno", cursive;

    font-size: clamp(62px, 6.3vw, 90px);

    color: #533229;

    margin: 0;

    line-height: 1;
}


/* ================= TOP SPARKLE ================= */

.splash-sparkle-top {
    position: absolute;

    width: clamp(45px, 5vw, 65px);

    top: -30px;
    right: -65px;

    transform: rotate(-15deg);

    animation: splashFloat 3s ease-in-out infinite;
}


/* ================= LEFT SPARKLE ================= */

.splash-sparkle-left {
    position: absolute;

    width: clamp(38px, 4vw, 50px);

    left: -65px;
    bottom: 5px;

    transform: rotate(10deg);

    animation: splashFloat 3.5s ease-in-out infinite;

    animation-delay: .8s;
}


/* ================= ANIMATION ================= */

@keyframes splashFloat {

    0% {
        transform: translateY(0px) rotate(-15deg);
    }

    50% {
        transform: translateY(-8px) rotate(-5deg);
    }

    100% {
        transform: translateY(0px) rotate(-15deg);
    }
}

/* ================= TABLET ================= */

@media (max-width: 900px) {

    .splash h1 {
        font-size: 60px;
    }

    .splash p {
        font-size: 42px;
    }

    .splash h2 {
        font-size: 72px;
    }

    .splash-sparkle-top {
        width: 55px;

        top: -25px;
        right: -65px;
    }

    .splash-sparkle-left {
        width: 45px;

        left: -65px;
        bottom: 5px;
    }
}


/* ================= MOBILE ================= */

@media (max-width: 600px) {

    .splash-content {
        padding: 0;
    }

    .splash h1 {
        font-size: 48px;
        margin-bottom: 8px;
    }

    .splash p {
        font-size: 34px;
        margin-bottom: 5px;
    }

    .splash h2 {
        font-size: 60px;
    }

    .splash-sparkle-top {
        width: 42px;

        top: -20px;
        right: -65px;
    }

    .splash-sparkle-left {
        width: 38px;

        left: -65px;
        bottom: 0;
    }
}